*
{
	margin: 10px ;
	padding: 5px;
	text-align: center;
	font-family: sans-serif;
}
input
{
	display: block;
	margin: 15px auto;
	border-radius: 5px;
	padding: 8px;
}
ul
{
	list-style-type: none;
	display: block;
}
ul li
{
    display: inline;
}
a
{
	text-decoration-line: none;
}